node_modules
.medusa
.git
.gitignore
.env
.env.*
!.env.template
*.log
yarn-error.log
npm-debug.log*

integration-tests
coverage
.nyc_output

.DS_Store
*.swp
*.swo

.vscode
.idea
*.iml

*.md
!README.md

*.backup
*.sql
*.dump

.cache
dist
build
uploads

.yarn/cache
.yarn/install-state.gz
